/* All document */
* {
    margin: 0;
    padding: 0;
}

/* Título */

h1 {
    text-align: center;
    margin: 20px 0px 40px;
}

/* Form content */

.container-fluid {
    align-items: center;
    height: auto;
    width: 50vw;
    background-color: rgb(189, 192, 191);
}

/* Campos do form */
label {
    display: block;
    margin-bottom: 0.9rem;
    font-size: medium;
    margin-left: 25px;
    color:rgb(0, 0, 0);
}

.label-checkbox {
   display: inline-block;
}

#ddd {
    width: 5vw !important;
    margin-left: 13.5px !important;
    border: 0 !important;
    padding: 10px !important;
}

#ddd,
input[type=tel],
input[type=text],
input[type=email] {
    margin-left: 25px;
    height: 2.4em;
    width: 20vw;
    border-radius: 4px;
    background-color: rgb(231, 228, 228);
    border: 0;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

input[type=tel] {
    margin-left: -2px;
}

input[type=checkbox] {
    display: inline-block;
}
